<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<title> Spending </title>
</head>
<body>
    <div class="spending-page-container">
		<nav class="navbar">
			<div class="home-container"> 
				<a href="/customer-home"> Home </a>
			</div>
			<div class="login-container">
				<a href="/customer-find-flights"> Find Flights </a>
				<a href="/customer-tickets"> My Tickets </a>
				<a href="/"> Track Spending </a>
	
				<a href="/logout"> Logout </a>
			</div>
			
		</nav>
        <h1> My Spending </h1>
    </div>
</body>
</html>