<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<title> Home </title>
</head>
<body>
	<nav class="navbar">
		<div class="home-container"> 
			<a href="/customer-home"> Home </a>
		</div>
		<div class="login-container">
			<a href="/customer-find-flights"> Find Flights </a>
			<a href="/"> Track Spending </a>

			<a href="/logout"> Logout </a>
		</div>
		
	</nav>


	<h1>Welcome {{name}}</h1>
	<p> {{email}} </p>
	
	<div class="cust-home-container">
		

		<div class="my-flights-container">
			<h2 > My Flights </h2> <br \>
			{% for flight in flights %}
			<table>
				<tbody>
					<thead>
						<tr>
							<th>Airline Name</th>
							<th>Airplane ID</th>
							<th>Flight Number</th>
							<th>Departure Date Time</th>
							<th>Arrival Date Time</th>
							<th>Base Ticket Price</th>
							<th>Flight Status</th>
							<th>Departure Airport Code</th>
							<th>Arrival Airport Code</th>
						</tr>
					</thead>
					<tr>
						<td>{{ flight.airline_name }}</td>
						<td>{{ flight.airplane_ID }}</td>
						<td>{{ flight.flight_num }}</td>
						<td>{{ flight.departure_date_time }}</td>
						<td>{{ flight.arrival_date_time }}</td>
						<td>{{ flight.base_ticket_price }}</td>
						<td>{{ flight.flight_status }}</td>
						<td>{{ flight.departure_airport_code }}</td>
						<td>{{ flight.arrival_airport_code }}</td>
					</tr>
					
				</tbody>
			</table>
			{% endfor %}
			
			{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
		</div>
	</div>
</body>
</html>