<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<title> Spending </title>
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
	</script>
	<script id=flask_data type="text/json">{{ months|tojson }}</script>
</head>
<body>
    <div class="spending-page-container">
		<nav class="navbar">
			<div class="home-container"> 
				<a href="/customer-home"> Home </a>
			</div>
			<div class="login-container">
				<a href="/customer-find-flights"> Find Flights </a>
				<a href="/customer-tickets"> My Tickets </a>
				<a href="/customer-spending"> Track Spending </a>
	
				<a href="/logout"> Logout </a>
			</div>
		</nav>
        <h1> My Spending </h1>
		<form action="/customer-spending" method="POST">
			<label for="date_range_begin">Date range:</label>
			<input type="date" id="date_range_begin" name="date_range_begin" value="{{date_range_begin}}">
			<label for="date_range_end"> to </label>
			<input type="date" id="date_range_end" name="date_range_end" value="{{date_range_end}}">
			<input type="submit" value="Filter">
		</form>
		<h3>Total Spending: {{total}}</h3>
		<canvas id="myChart" style="max-width:50vw;margin:2rem auto;"></canvas>
		<script>
			const flask_data = JSON.parse((document.querySelector('#flask_data')).textContent || "");
			console.log(flask_data);
			const xValues = flask_data.map(month => month.month);
			const yValues = flask_data.map(month => Number(month.total));
			console.log(xValues, yValues);
			const myChart = new Chart("myChart", {
				type: "bar",
				data: {
					labels: xValues,
					datasets: [{
						label: 'Spending',
						data: yValues,
						backgroundColor: 'rgba(255, 99, 132, 0.2)',
						borderColor: 'rgba(255, 99, 132, 1)',
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								suggestedMin: 0,
								suggestedMax: 50,
								beginAtZero: true
							}
						}]
					}
				}
			});
		</script>

        {% if error %}
		    <p class="error"><strong>Error:</strong> {{error}}</p>
	    {% endif %}
    </div>
</body>
</html>