<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<title> Staff Home </title>
</head>
<body>
	<nav class="navbar">
		<div class="home-container"> 
			<a href="/staff-home"> Staff Home </a>
		</div>
	</nav>

	<h1>Welcome {{first_name}}</h1>
	
	<div class="cust-home-container">
		<div class="my-flights-container">
			<h2>Add New Maintenance</h2>
            <form action="/staff-add-new-maintenance" method="POST"
				style="width: 50vw; margin: 0 auto;"
			>
				<div style="display: grid; gap: 0.5rem; grid-template-columns: repeat(2, auto);">
					<label for="airplane_ID">Airplane ID</label>
					<select name="airplane_ID" required>
						{% for airplane_ID in airplane_IDs %}
						<option value="{{ airplane_ID }}">{{ airplane_ID }}</option>
						{% endfor %}
					</select>
					<label for="start_date_time">Start</label>
					<input type="datetime-local" name="start_date_time" required/>
					<label for="end_date_time">End</label>
					<input type="datetime-local" name="end_date_time" required/>
				</div>
                <input type="submit" value="Add" style="width: 50%; height: 2rem;" />
            </form>
			
			{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
			{% if status %}
			<p class="status"><strong>Status:</strong> {{status}}</p>
			{% endif %}

			<h2>Current Maintenance</h2>
			<table>
				<tr>
					<th>Airplane ID</th>
					<th>Start</th>
					<th>End</th>
				</tr>
				{% for maintenance in maintenances %}
				<tr>
					<td>{{maintenance.airplane_ID}}</td>
					<td>{{maintenance.start_date_time}}</td>
					<td>{{maintenance.end_date_time}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
</html>