<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<title> Staff Login </title>
</head>
<body>
    <nav class="navbar">
        <div class="home-container"> 
            <a href="/"> Home </a>
        </div>
        <div class="login-container">
            <a href="/customer-login"> Customer Login </a>
            <a href="/staff-login"> Staff Login </a>
        </div>
        
    </nav>
    
    <h1> Staff Login </h1>
    <form class="staff-login-container" action="/staffLoginAuth" method="POST">
        <input type="username" name="username" placeholder="Username" required/> 
        <input type="password" name="password" placeholder="Password" required/> 
        
        <p> 
            Don't have an account? 
            <a href="/staff-register"> Sign Up </a>
        </p>
        
        <input type="submit" value = "Login" />

        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
</body>
</html>