<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
	<title> Staff Home </title>
</head>
<body>
	<nav class="navbar">
		<div class="home-container"> 
			<a href="/staff-home"> Staff Home </a>
		</div>
	</nav>

	<h1>Welcome {{first_name}}</h1>
	
	<div class="cust-home-container">
		<div class="my-flights-container">
			<h2>Add New Flight</h2>
            <form action="/staff-add-new-flight" method="POST"
				style="width: 50vw; margin: 0 auto;"
			>
				<div style="display: grid; gap: 0.5rem; grid-template-columns: repeat(2, auto);">
					<label for="airplane_ID">Airplane ID</label>
					<select name="airplane_ID">
						{% for airplane_ID in airplane_IDs %}
							<option value="{{airplane_ID}}">{{airplane_ID}}</option>
						{% endfor %}
					</select>
					<label for="flight_num">Flight Number</label>
					<input type="text" name="flight_num" maxlength="10" required/>
					<label for="departure_date_time">Departure</label>
					<input type="datetime-local" name="departure_date_time" required/>
					<label for="arrival_date_time">Arrival</label>
					<input type="datetime-local" name="arrival_date_time" required/>
					<label for="base_ticket_price">Base Ticket Price</label>
					<input type="number" name="base_ticket_price" required/>
					<label for="flight_status">Flight Status</label>
					<input type="text" name="flight_status" maxlength="20" required/>
					<label for="departure_airport_code">Departure Airport Code</label>
					<select name="departure_airport_code">
						{% for airport in airports %}
							<option value="{{airport}}">{{airport}}</option>
						{% endfor %}
					</select>
					<label for="arrival_airport_code">Arrival Airport Code</label>
					<select name="arrival_airport_code">
						{% for airport in airports %}
							<option value="{{airport}}">{{airport}}</option>
						{% endfor %}
					</select>
				</div>
                <input type="submit" value="Add" style="width: 50%; height: 2rem;" />
            </form>
			
			{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
			{% endif %}
			{% if status %}
			<p class="status"><strong>Status:</strong> {{status}}</p>
			{% endif %}

			<table>
				<tbody>
					<thead>
						<tr>
							<th>Airline Name</th>
							<th>Airplane ID</th>
							<th>Flight Number</th>
							<th>Departure Date Time</th>
							<th>Arrival Date Time</th>
							<th>Flight Status</th>
							<th>Departure Airport Code</th>
							<th>Arrival Airport Code</th>
							<!-- <th>Base Ticket Price</th> -->
							<th>Customers</th>
						</tr>
					</thead>
					{% for flight in flights %}
					<tr>
						<td>{{ flight.airline_name }}</td>
						<td>{{ flight.airplane_ID }}</td>
						<td>{{ flight.flight_num }}</td>
						<td>{{ flight.departure_date_time }}</td>
						<td>{{ flight.arrival_date_time }}</td>
						<td>{{ flight.flight_status }}</td>
						<td>{{ flight.departure_airport_code }}</td>
						<td>{{ flight.arrival_airport_code }}</td>
						<!-- <td>{{ flight.base_ticket_price }}</td> -->
						<td>
							<a href="/staff-customers-on-flight?airline_name={{flight.airline_name}}&airplane_ID={{flight.airplane_ID}}&flight_num={{flight.flight_num}}&departure_date_time={{flight.departure_date_time}}">View</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>