<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Airline Ticket Reservation System
	</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="home-page-container">
		<div class="flight-search-container"> 
			<h1>Find Flights</h1>
			<div class="search-params-container">
                <form action="/getFlights" method="POST">
                    <div class="search-field-container"> 
                        <h3> Origin </h3>
                        <input type="text" name="departure_airport_code" placeholder="Select origin" required/>
                    </div>
                    
                    <div class="search-field-container"> 
                        <h3> Destination </h3>
                        <input type="text" name="arrival_airport_code" placeholder="Select destination" required/> 
                    </div>
    
                    <div class="search-field-containerr"> 
                        <h3> Departure</h3>
                        <input type="date" name="departure_date" required/> 
                    </div>
    
                    <div class="search-field-container"> 
                        <h3> Arrival </h3>
                        <input type="date" name="arrival_date"/> 
                    </div>
                    
                    <div class="search-button-container"> 
                        <input type="submit" value = Search />
                    </div>
                </form>
			</div>
		</div>
	</div>
</body>
</html>