<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>
        Airline Ticket Reservation System
    </title>
</head>
<body>
    <div style="display: flex; flex-direction: column; padding: 8rem; justify-content: center; gap: 2rem">
        <h1>You do not have access to view this page.</h1>
        <a href="/">Back to home</a>
    </div>
</body>
</html>