<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Airline Ticket Reservation System
	</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>yes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Airline Name</th>
                <th>Airplane ID</th>
                <th>Flight Number</th>
                <th>Departure Date Time</th>
                <th>Arrival Date Time</th>
                <th>Base Ticket Price</th>
                <th>Flight Status</th>
                <th>Departure Airport Code</th>
                <th>Arrival Airport Code</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
                <tr>
                    <td>{{ flight.airline_name }}</td>
                    <td>{{ flight.airplane_ID }}</td>
                    <td>{{ flight.flight_num }}</td>
                    <td>{{ flight.departure_date_time }}</td>
                    <td>{{ flight.arrival_date_time }}</td>
                    <td>{{ flight.base_ticket_price }}</td>
                    <td>{{ flight.flight_status }}</td>
                    <td>{{ flight.departure_airport_code }}</td>
                    <td>{{ flight.arrival_airport_code }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>